[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pyfrc = "==2024.*"
pyntcore = "==2024.*"
robotpy = {extras = ["all"], version = "*"}
robotpy-halsim-gui = "*"

[dev-packages]

[requires]
python_version = "3.11"
